
<div class="sapCommunicationContainer">
    <div class="row">
        <div class="col-md-6">
            <label>{{ 'pa.sap.address' | translate }}</label>
            <input type="text" class="form-control" ng-model="sapUrl" style="width: 930px;" />
        </div>

    </div>


    <div class="row">
        <div class="col-md-2">
            <label>{{ 'pa.sap.login' | translate }}</label>
            <input type="text"
                   class="input-large form-control"
                   ng-model="login" />
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <label>{{ 'pa.sap.password' | translate }}</label>
            <input type="password"
                   class="input-large form-control"
                   ng-model="password" />
        </div>

    </div>

    <div class="row">

        <div class="col-md-2">

            <button class="btn btn-default"
                    ng-disabled="!login || !password || !sapUrl"
                    ng-click="updateSAP()">

                {{ 'pa.LabelButtons.refresh' | translate }}
            </button>

        </div>
    </div>
</div>


            