<div class="row chart-control-wrapper">

    <div class="date-control-wrapper">
        {{ 'marker.period' | translate }}
        <input type="text"
               id="chart-date-start"
               class="form-control"
               ng-model="dateStart" />
    </div>
    &ndash;
    <div class="date-control-wrapper">
        
        <input type="text"
               id="chart-date-end"
               class="form-control"
               ng-model="dateEnd" />
    </div>

    <button class="btn btn-default"
            ng-click="getChartData(dateStart, dateEnd)">
        {{ 'marker.getChartDataBtn' | translate }}
    </button>

</div>

<div class="row">

    

    <div id="chart" class="chart-container">
        <div class="state-data-inside loading"
             ng-show="chartDataLoaded">
            <span class="loading-msg">loading...</span>
        </div>     
    </div>

</div>
