<div class="container loading" ng-show="state=='loading'">

    <div class="loading-msg">
        <h1>Loading ...</h1>
    </div>

</div>

<div class="main-menu navbar navbar-default navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand my-navbar-brand" ui-sref="app.welcome">ArcelorMittal</a>
        </div>


        <ul id="navigation" class="nav navbar-nav">

            <li ng-repeat="role in roles"
                ui-sref-active="active">
                <a ui-sref="app.{{role.RoleName}}" ui-sref-opts="{reload: true}">{{ 'index.' + role.RoleName | translate }}</a>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li class="navbar-text">
            <!--{{ 'index.User' | translate }}:--> 
            {{user}}</li>

            <li class="navbar-text">
                <div class="dropdown">
                    <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{localeCaption}}
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" ng-click="changeLanguage('ua'); $event.preventDefault();">UA</a></li>
                        <li><a href="#" ng-click="changeLanguage('ru'); $event.preventDefault();">RU</a></li>
                        <li><a href="#" ng-click="changeLanguage('en'); $event.preventDefault();">EN</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>

    
   
</div>

<div class="container">
    <ui-view></ui-view>
</div>
